.game {
    display: flex;
    width: 55vw;
    justify-content: center;
    margin: 0 auto;
    background-color: #589b4294;
    border-radius: 12%;
}

.game-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
}

.game-input input,
button {
    display: inline-block;
    width: 5rem;
    padding: 0.5rem 1rem;
}

.game-score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
}