:root {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFA02E;
}

body {
    text-align: center;
    background-color: #71716f
}

#restart-btn {
    margin-top: 2rem
}

button {
    border-radius: 12px;
}